<main>
    <div class="row">

        <div class="col-md-6 offset-3 mt-5" id="main-container">



            <div class="card">
                <div class="card-header text-light bg-dark">
                    <h4 class="text-center" name="datosPersonales">Inicio de sesi&oacute;n</h4>
                </div>

                <div class="card-body">

                    <form action="/login" method="POST">


                        <div class="mt-3 mb-3"> 
                        <label for="email" class="form-label">Correo electr&oacute;nico:</label>
                        <input type="email" class="form-control" id="email"
                            placeholder="Escriba su correo electronico" name="email" required/ >
                    </div>

                    <div class="mt-3 mb-3">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" id="password" class="form-control"
                            placeholder="Escriba su constraseña" name="password" required/>
                    </div>


                        <div class="mt-3 mb-3">
                            <button type="submit" class="btn btn-primary float-end" id="btn-sign-in">Iniciar
                                sesi&oacute;n</button>
                        </div>


                    </form>

                </div>
            </div>








        </div>
</main>