<main>
      <div class="row rowCustom">
        <div class="col-md-4 text-center">
          <a href="/admin/elective-position"><img class="imgFunction" src="https://img.icons8.com/ios/50/000000/bar-chart--v1.png"/></a>
          <p>Elective position</p>
        </div>
        <div class="col-md-4 text-center">
          <a href="/admin/citizen-list"><img class="imgFunction" src="https://img.icons8.com/ios/50/000000/amputee.png"/></a>
          <p>Citizen</p>
        </div>
        <div class="col-md-4 text-center">
          <a href="/admin/parties"><img class="imgFunction" src="https://img.icons8.com/ios-filled/50/000000/data-sheet.png"/></a>
          <p>Parties</p>
        </div>
      </div>
      <div class="row rowCustom">
        <div class="col-md-6 text-center">
          <a href="/admin/candidate-list"><img class="imgFunction2" src="https://img.icons8.com/ios/50/000000/moderator-male.png"/></a>
          <p class="pTitle1">Candidates</p>
        </div>
        <div class="col-md-6 text-center">
          <a href="#"><img class="imgFunction3" src="https://img.icons8.com/ios/50/000000/elections.png"/></a>
          <p class="pTitle2">Elections</p>
        </div>
      </div>
      
      <!--
        <div class="card-body">
          <h5 class="card-title text-center fs-4">Mantenimientos</h5>
          <a href="/admin/elective-position" class="btn btn-primary d-flex justify-content-center mt-3">Puestos Electivos</a>
          <a href="#" class="btn btn-primary d-flex justify-content-center mt-3">Ciudadanos</a>
          <a href="/admin/parties" class="btn btn-primary d-flex justify-content-center mt-3">Partidos</a>
          <a href="/admin/candidate-list" class="btn btn-primary d-flex justify-content-center mt-3">Candidatos</a>
          <a href="#" class="btn btn-primary d-flex justify-content-center mt-3">Elecciones</a>
        </div>
      </div>
      -->
</main>