<main>
  <div class="container-fluid">

    <h2 class="text-center mt-5 mb-5">Bienvenido al Home del Admin</h2>
    <h1>KLK</h1>

    <div class="row">

        <!--Card con el de puesto electivo-->

      <div class="card align-self-center" style="width: 18rem;">
        <!--Hay que alinear este card en el centro o si quieres le cambias la forma-->
        <div class="card-body">
          <h5 class="card-title text-center fs-4">Mantenimientos</h5>
          <a href="/admin/elective-position" class="btn btn-primary d-flex justify-content-center mt-3">Puestos Electivos</a>
          <a href="#" class="btn btn-primary d-flex justify-content-center mt-3">Ciudadanos</a>
          <a href="/admin/parties" class="btn btn-primary d-flex justify-content-center mt-3">Partidos</a>
          <a href="#" class="btn btn-primary d-flex justify-content-center mt-3">Candidatos</a>
          <a href="#" class="btn btn-primary d-flex justify-content-center mt-3">Elecciones</a>
        </div>
      </div>





    </div>

  </div>

</main>