/*MAIN LAYOUT*/
/*Font*/
body{
    font-family: 'Nunito', sans-serif;
    background-color: lightgray;
}

/*title*/
#imgTitle{
    width: 40px;
}

.title{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-left: 60px;
}

/*navbar*/
.navbar{
    background-color: #EA5455;
}

.navbar-nav{
    margin-left: 800px;
    font-size: 18px;
}

#aHome{
    transition: 0.25s;
    margin-left: 40px;
    font-weight: 500;
    color: gainsboro;
}

#aHome:hover{
    color: white;
    border-bottom: solid 1px;
    border-radius: 20%;
}

#aFeatures{
    transition: 0.25s;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    color: gainsboro;
}

#aFeatures:hover{
    color: white;
    border-bottom: solid 1px;
    border-radius: 20%;
}

#aAdmin{
    transition: 0.25s;
    font-weight: 500;
    color: gainsboro;
}

#aAdmin:hover{
    color: white;
    border-bottom: solid 1px;
    border-radius: 20%;
}
/*MAIN LAYOUT*/

/*ADMIN HOME*/
.rowCustom{
    margin-top: 150px;
}

img{
    cursor: pointer;
}

.imgFunction{
    border: solid 1px;
    border-radius: 50%;
    padding: 50px;
    background-color: gainsboro;
    transition: 0.5s;
    border-color: #EA5455;
}

.imgFunction:hover{
    background-color: #EEEEEE;
    margin-bottom: 15px;
}

.imgFunction2{
    border: solid 1px;
    border-radius: 50%;
    padding: 50px;
    background-color: gainsboro;
    transition: 0.5s;
    margin-top: -100px;
    margin-left: 200px;
    border-color: #EA5455;
}

.imgFunction2:hover{
    background-color: #EEEEEE;
    margin-bottom: 15px;
}

.imgFunction3{
    border: solid 1px;
    border-radius: 50%;
    padding: 50px;
    background-color: gainsboro;
    transition: 0.5s;
    margin-top: -100px;
    margin-right: 200px;
    border-color: #EA5455;
}

.imgFunction3:hover{
    background-color: #EEEEEE;
    margin-bottom: 15px;
}

.pTitle1{
    margin-left: 200px;
}

.pTitle2{
    margin-right: 200px;
}
/*ADMIN HOME*/

/*ELECTIVE-POSITION*/
    
    .btn-add{
        font-size: 30px;
        margin-right: 50PX;
        text-decoration: none;
        color: black;
        transition: 0.25s;
    }

    .btn-add:hover{
        color: green
    }
/*ELECTIVE-POSITION*/

/*CITIZEN*/

    .btn-table{
        border-radius: 50%;
        text-decoration: none;
        font-size: 18px;
        transition: 0.5;
    }

    .btn-table:hover{
        background-color: gray;
        color: white;
    }

    #btn-next{
        transition: 0.25s;
        background-color: gainsboro;
        color: gray;
        border: none;
        box-shadow: 1px 1px 1px 1px gray;
    }

    #btn-next:hover{
        box-shadow: none;
        background-color: gray;
        color: white;
    }

    #btn-cancel{
        transition: 0.25s;
        background-color: gainsboro;
        color: gray;
        border: none;
        box-shadow: 1px 1px 1px 1px gray;
    }

    #btn-cancel:hover{
        box-shadow: none;
        background-color: gray;
        color: white;
    }

    #btn-disable{
        transition: 0.25s;
        background-color: #EA5455;
        color: white;
        border: none;
        box-shadow: 1px 1px 1px 1px gray;
    }

    #btn-disable:hover{
        box-shadow: none;
    }

    #btn-enable{
        transition: 0.25s;
        background-color: #1FAB89;
        color: white;
        border: none;
        box-shadow: 1px 1px 1px 1px gray;
    }

    #btn-enable:hover{
        box-shadow: none;
    }

    .form-control{
        border: none;
        border-bottom: solid 1px;
    }

    .card{
        margin-top: 65px;
        transition: 1s;
    }

    .card:hover{
        margin-top: 55px;
    }

    .form-state{
        margin-top: 100px;
        border: none;
    }
/*CITIZEN*/