<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/vendors/bootstrap/bootstrap.min.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mx-4" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">SADVO</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{#if AddMovieActive}}active{{/if}}" href="#">Prueba de Enlace</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{#if AdminIndexMovieActive}}active{{/if}}" href="#">Prueba de Enlace</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid">


        {{{body}}}

    </div>

</body>

</html>