<main>
    <form action="" method="post">
        <div class="row m-5" id="personal-content">
            <div class="col-md-8 offset-2">
                <div class="card">
                    <div class="card-header text-center pt-3 bg-dark">
                        <h5 class="text-white">PERSONAL DATA</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control m-1" id="inputName" name="name" placeholder="Name">
                                    <label for="inputName"><i class='bx bx-user'></i> Name</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control m-1" id="inputLastName" name="lastName"  placeholder="LastName">
                                    <label for="inputLastName"><i class='bx bx-user'></i> Last Name</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-floating">
                                    <select class="form-select m-1" id="inputParties" name="parties" aria-label="Career">
                                        <option selected>Choice a career</option>
                                    </select>
                                    <label for="inputParties"><i class='bx bxs-graduation'></i>Parties</label>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-floating">
                                    <select class="form-select m-1" id="inputPosition" name="position" aria-label="Career">
                                        <option selected>Choice a career</option>
                                    </select>
                                    <label for="inputPosition"><i class='bx bxs-graduation'></i>Positions</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success float-end m-1 mt-2" id="btn-next">Next</button>
                        <a href="/admin/candidate-list" class="btn btn-outline-secondary float-end m-1 mt-2" id="btn-clear">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>